<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">
    <div class="page-width">
        <p>yooo</p>
    </div>
</div>
{% schema %}
{
    "name": "Featured Records",
    "settings": [
        {
            "type": "color_scheme",
            "id": "section_color_scheme",
            "label": "t:sections.all.colors.label",
            "default": "scheme-1"
        }
    ],
    "presets": [
        {
            "name": "Featured Records"
        }
    ]
}
{% endschema %}