<div class="featured_records section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">
    <div class="page-width">
        <div class="featured_records_desktop">
            <div class="featured_record">
                {% for block in section.blocks %}
                    <p>yo</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% schema %}
{
    "name": "Featured Records",
    "settings": [
        {
            "type": "color_scheme",
            "id": "section_color_scheme",
            "label": "Color Scheme",
            "default": "scheme-1"
        }
    ],
    "blocks": [
        {
            "name": "Product",
            "type": "product",
            "limit": 6,
            "settings": [
                {
                    "type": "product",
                    "id": "product",
                    "label": "Product"
                }
            ]

        }
    ],
    "presets": [
        {
            "name": "Featured Records"
        }
    ]
}
{% endschema %}