<p>yooo</p>
{% schema %}
{
    "name": "Featured Records",
    "settings": [
        {
            "type": "color_scheme",
            "id": "section_color_scheme",
            "label": "t:sections.all.colors.label",
            "default": "scheme-1"
        }
    ],
    "presets": [
        {
            "name": "Featured Records"
        }
    ]
}
{% endschema %}