.featured_records {
    padding: 100px 0;
}

.featured_records p {
    margin: 0;
}

.featured_record {
    display: flex;
    align-items: center;
}

.featured_record_content {
    width: 50%;
}

.featured_record_image {
    width: 50%;
}

.featured_record_image img {
    width: 100%;
    height: auto;
}