.button {
    font-family: var( --font-heading-family) !important;
}

/* FEATURED RECORDS */
.featured_records {
    padding: 60px 0;
    overflow: hidden;
}

.featured_records_mobile {
    display: block;
}

.featured_records_desktop {
    display: none;
}

@media(min-width: 991px) {
    .featured_records_desktop {
        display: block;
    }
    .featured_records_mobile {
        display: none;
    }
}

.featured_records p,
.featured_records h1 {
    margin: 0;
}

.featured_records span {
    font-size: 16px;
}

.featured_records h1 {
    margin-bottom: 20px;
}

.featured_records a {
    margin-top: 20px;
}

.featured_record {
    display: none;
    align-items: center;
    /* gap: 60px; */
}

.featured_record.active {
    display: flex;
}

.featured_record_content {
    width: 50%;
    padding-right: 20px;
}

.featured_record_image {
    width: 50%;
    display: flex;
    align-items: center;
}

.featured_records img {
    width: 75%;
    height: auto;
    display: block;
}

.featured_records_tabs {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.featured_record_tab button {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    padding: 0;
}

.featured_record_tab button.active {
    border-bottom: 2px solid black;
    font-weight: bold;
}

.featured_records .swiper-slide img {
    margin-bottom: 40px;
}
/* END FEATURED RECORDS */

/* SEARCH + CART MODAL */
details[open] .modal-overlay::after,
.cart-drawer__overlay {
    background-color: rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(10px);
}

.drawer {
    background-color: unset !important;
}
/* END SEARCH + CART MODAL */


/* FOOTER */
footer .rte a {
    color: unset !important;
}
/* FOOTER */

/* COMING SOON */
.coming-soon {
    height: 50svh;
    display: grid;
    place-items: center;
}

.coming-soon span {
    display: inline-block;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
/* COMING SOON */

/* IMAGE WITH TEXT */
.image-with-text__content {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


@media(min-width: 749px) {
    .image-with-text__content {
        padding-left: 4rem !important;
        padding-right: 4rem !important;
    }
}
/* IMAGE WITH TEXT */

/* ESSENTIALS SLIDER */
.essentials {
    overflow: hidden;
    padding: 50px 0;
}

@media(min-width: 991px) {
    .essentials {
        padding: 100px 0;
    }
}

.essentials_slider img {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.essentials_slider .swiper-slide a {
    text-decoration: none;
    color: unset;
}

.essential-title {
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    margin: 0;
}

.essential-artist {
    margin: 0;
    font-size: 14px;
    color: #737373 !important;
    line-height: 25px;
}

.essential-badge {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 12px; 
    margin: 20px 0 0 0;
}

.essentials_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    margin-bottom: 25px;
    padding-bottom: 15px;
}

.essentials_header h2 {
    text-transform: uppercase;
    margin: 0;
}

.essentials_header a {
    text-decoration: none;
    color: unset;
}
/* ESSENTIALS SLIDER */

/*  MEGA MENU */
.mega-menu__list {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr) !important;
    gap: 20px;
}
/* MEGA MENU */

.card--card.gradient, .card__inner.gradient {
    background-color: none !important;
    background: none !important;
}

.price__container {
   font-size: calc(var(--font-heading-scale)* 1.3rem) !important;
}