.featured_records {
    padding: 100px 0;
}

.featured_records_mobile {
    display: block;
}

.featured_records_desktop {
    display: none;
}

@media(min-width: 991px) {
    .featured_records_desktop {
        display: block;
    }
    .featured_records_mobile {
        display: none;
    }
}

.featured_records p,
.featured_records h1 {
    margin: 0;
}

.featured_records span {
    font-size: 16px;
}

.featured_records h1 {
    margin-bottom: 20px;
}

.featured_records a {
    margin-top: 20px;
}

.featured_record {
    display: none;
    align-items: center;
    gap: 100px;
}

.featured_record.active {
    display: flex;
}

.featured_record_content {
    width: 50%;
}

.featured_record_image {
    width: 50%;
}

.featured_records img {
    width: 100%;
    height: auto;
    display: block;
}

.featured_records_tabs {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.featured_record_tab button {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    padding: 0;
}

.featured_record_tab button.active {
    border-bottom: 2px solid black;
}

.featured_records .swiper-slide img {
    margin-bottom: 40px;
}

/* SEARCH MODAL */
details[open] .modal-overlay::after,
.cart-drawer__overlay {
    background-color: rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(10px);
}

.drawer {
    background-color: unset !important;
}